/*======================
  Nike ID
======================*/
.wrapper {
  position: relative;
  width: 100vw;
  max-width: 768px;
  height: 100vh;
  margin: 0 auto;
}
/* SVG */
.af01 {
  position: relative;
  z-index: 10;
  mix-blend-mode: screen;
}
.af01 > path.active {
  stroke: #ccc;
  stroke-width: 4px;
  stroke-dasharray: 15 5;
}
/* 背景画像 */
.bg_img {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
}

/*======================
  Navigation
======================*/
.ui_wrapper {
  position: fixed;
  bottom: 4%;
  right: 2%;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}
.operation {
  display: flex;
  gap: 30px;
  align-items: center;
}
.operation > button {
  background-color: #ccc;
  border: solid 1px #999;
  border-radius: 99999px;
  padding: 0.2em 0.5em;
  font-size: 18px;
}
.colorSelector {

}
